<%=render "home/page_header"%>

<div class="content ">
  <h1 class="text-center">Edit Question</h1>
  <%= render 'form', question: @question %>
  <%= link_to 'Show', @question %> |
  <%= link_to 'Back', questions_path %>
</div>
