<div class="post">
  <%if feed.title.present?%>
    <div class='post-head'>
      <%=feed.title%>
    </div>
  <%end%>
  <div style="font-size: 10px;color: #90949c;font-family: 'proxima_nova_rgregular'; margin-bottom:5px; auto; text-transform:uppercase;">
    POSTED - <%=feed.created_at.strftime("%d %b %Y %I:%M%p")%>
  </div>
  <%if feed.pic.present?%>
    <%=image_tag feed.pic.url(:original),:style=>"width:100%;","data-high-res-img"=>feed.pic.url(:original),:class=>"viewable-image"%>
  <%else%>
    <div class='post-ex'>
      <%=raw feed.description%>
    </div>
  <%end%>
</div>


<style type="text/css">
  .post {
    background: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 10px;
    padding: 10px;
  }
  .post-ex{
    font-size: 15px;
    color: #222;
  }

  .post-head{
    font-size: 16px;
    font-weight: bold;
  }
</style>
