<section class="web-app com-padd">
  <div class="container">
    <div class="row">
      <div class="col-md-6 web-app-img"> <%=image_tag 'mobile.png'%> </div>
      <div class="col-md-6 web-app-con">
        <h2>Looking for the Best Service Provider? <span>Get the App!</span></h2>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> Find nearby listings</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Easy service enquiry</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Listing reviews and ratings</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Manage your listing, enquiry and reviews</li>
        </ul>
        <div style="font-weight:bold; font-size: 18px; padding:15px 0px;">
          Visit Google Play Store and find Mangalore Xpress App now
        </div>
        <div class='text-center'>
          <a href="#"><%=image_tag 'android.png'%></a>
        </div>
      </div>
    </div>
  </div>
</section>
