<section class="web-app com-padd">
  <div class="container">
    <div class="row">
      <div class="col-md-6 web-app-img"> <%=image_tag 'mobile.png'%> </div>
      <div class="col-md-6 web-app-con">
        <h2>Looking for updates & Best Service Provider in Mangalore? <span>Get the App!</span></h2>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> Get all updates from your city</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> One stop solution for real estate needs</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Instant contact with serivce provider</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Top Genunie classifieds</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Cost affective</li>
        </ul>
        <div style="font-weight:bold; font-size: 18px; padding:15px 0px;">
          Visit Google Play Store and find Mangalore Xpress App now
        </div>
        <div class='text-center'>
          <a href="https://play.google.com/store/apps/details?id=mangalorexpress.com"><%=image_tag 'android.png'%></a>
        </div>
      </div>
    </div>
  </div>
</section>
