<footer id="colophon" class="site-footer clearfix">
  <div id="quaternary" class="sidebar-container " role="complementary">
    <div class="sidebar-inner">
      <div class="widget-area clearfix">
        <div id="azh_widget-2" class="widget widget_azh_widget">
          <div data-section="section">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 col-md-3 foot-logo"> <%=image_tag 'logo.png'%>
                  <p class="hasimg">Mangalore's No. 1 Local Business Service Provider.</p>
                  <p><b>Email - </b> xpressmangalore@gmail.com</p>
                  <p><b>Phone 1 - </b>9480906233</p>
                  <p><b>Phone 2 - </b>8904403233</p>
                </div>
                <div class="col-sm-8 col-md-9">
                  <div class="row">
                    <%ServiceCategory.enabled_services.limit(20).each do |sc|%>
                      <div class="col-md-3">
                        <div style="">
                          <%=link_to service_category_path(sc) do%>
                            <p>>> <%=sc.name%></p>
                          <%end%>
                        </div>
                      </div>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .widget-area -->
    </div>
    <!-- .sidebar-inner -->
  </div>
  <!-- #quaternary -->
</footer>
<section class="copy">
  <div class="container">
    <p>copyrights © 2018 mangalorexpress.com &nbsp;&nbsp;All rights reserved. </p>
  </div>
</section>
