<%if request.user_agent =~ /MANGALOREXPRESS/%>
  <div style="height:60px;"></div>
<%end%>
<!--HOME PROJECTS-->
<section class="mar-bot-red-m30" style="margin-top:20px; margin-bottom:20px;">
  <div class="container">
    <div class="row">
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <%=image_tag '1.png',:alt=>""%>
          <h4>NEWS & EVENTS</h4>
          <p>Get instant updates, news, happenings of the city</p> <a href="/cards">Explore Now</a> </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <%=image_tag '2.png',:alt=>""%>
          <h4>REAL ESTATE</h4>
          <p>One stop solution for all your real estate requirements.</p> <a href="/mangalore-rent-real-estate">Explore Now</a> </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <%=image_tag '3.png',:alt=>""%>
          <h4>LOCAL SERVICES</h4>
          <p>Get connected with certified local service providers</p> <a href="/services">Explore Now</a> </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <%=image_tag '7.png',:alt=>""%>
          <h4>CLASSIFIEDS</h4>
          <p>Fulfill your buy & sell needs here! Cheap items at your finger tips</p> <a href="/classifieds">Explore Now</a> </div>
      </div>
    </div>
  </div>
</section>
