<section class="com-padd home-dis home-dis2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="font-size:38px;"><span style="font-size:38px;">WANT TO GET LISTED WITH US?</span> CONTACT US @ <a href="tel:9480906233" style="margin-left:20px; color:#000;">+91-9480906233</a></h2> </div>
    </div>
  </div>
</section>
