<section class="com-padd home-dis" style="margin-top:30px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>FLAT 30% Off</span> on your first order <a href="price.html">GET SERVICE NOW</a></h2> </div>
    </div>
  </div>
</section>
