<%if request.user_agent =~ /MANGALOREXPRESS/%>
  <div style="height:60px;"></div>
<%end%>
<!--HOME PROJECTS-->
<section class="proj mar-bot-red-m30">
  <div class="container">
    <div class="row">
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <%=image_tag '1.png',:alt=>""%>
          <h4>24 Million Business</h4>
          <p>Choose from a collection of handpicked luxury villas & apartments</p> <a href="#services_list">Explore Now</a> </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <%=image_tag '2.png',:alt=>""%>
          <h4>1,200 Services Offered</h4>
          <p>Choose from a collection of handpicked luxury villas & apartments</p> <a href="#services_list">Explore Now</a> </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <%=image_tag '3.png',:alt=>""%>
          <h4>05 Million Visitors</h4>
          <p>Choose from a collection of handpicked luxury villas & apartments</p> <a href="#services_list">Explore Now</a> </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <%=image_tag '7.png',:alt=>""%>
          <h4>24 Million Business</h4>
          <p>Choose from a collection of handpicked luxury villas & apartments</p> <a href="#services_list">Explore Now</a> </div>
      </div>
    </div>
  </div>
</section>
