<section class="cat-v2-hom com-padd mar-bot-red-m30" id="services_list">
  <div class="container">
    <div class="row">
      <div class="com-title">
        <h2>Services at your <span>Door Step</span></h2>
        <p>Explore some of the best business from around the Mangalore.</p>
      </div>
      <div class="cat-v2-hom-list">
        <ul>
          <%ServiceCategory.enabled_services.each do |sc|%>
            <li style="position:relative;">
              <% if not sc.is_enabled%>
              <span style='position:absolute; right:15px; bottom: 8px; font-size: 11px; color:#969696;'>Coming Soon</span>
              <%end%>
              <%=link_to service_category_path(sc),:style=>"text-transform:uppercase;" do%>
                <%=image_tag sc.icon_img.url(:thumb)%> <%=sc.name%>
              <%end%>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</section>
