<%=render "home/page_header"%>

<div style="background:#fff; padding:10px; margin:10px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14); border-radius:2px;" class='about_us'>
  <h1 class="text-center">MANGALORE XPRESS</h1>
  <h4 class="text-center">We are everything Kudla- virtually!</h4>
  <hr>
  <div>
    <p>
      Mangalore Xpress provides everything Mangalore has to offer with utmost ease.  Online shopping, local and international news, social networking, healthcare facilities, real estate, classifieds -there’s something for everyone here!
    </p>
    <p>
      Since its inception, Mangalore Xpress has garnered wide following across various audiences. Making our city more accessible, convenient and connected is our sole vision. We invite you to be a part of those dynamic Mangaloreans that have taken our platform to experience Kudla like never before.
    </p>
  </div>
</div>
