<%=render "home/page_header"%>
<div style="background:#fff; padding:10px; margin:10px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14); border-radius:2px;" class='about_us'>
  <h1 class='text-center'>CONTACT US</h1>
  <div style="border:1px solid #eee; margin: 10px 0px; padding:10px 10px; ">
    <p><b>MANGALORE XPRESS</b></p>
    <p>#338/14, 2nd Floor, XYZ Building</p>
    <p>State Bank Circle</p>
    <p>MANGALORE - 560100</p>
    <p>Ph: 9090909090</p>
    <p>Email: contact@gmail.com</p>
  </div>
</div>
