<%=render "home/page_header"%>

<div style="background:#fff; padding:10px; margin:10px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14); border-radius:2px;" class='about_us'>
  <h1 class="text-center">ABOUT MANGALORE XPRESS</h1>
  <hr>
  <div>
    <p>
      Thank you for visiting Mangalore Xpress. With utmost pleasure, we welcome you to experience the comprehensive range of services provided for the vibrant Mangalorean.
    </p>
    <p>
      Mangalore Xpress is a One-stop-Shop for all your needs. We bring you the best services like health care, Home services, real estate and more that KUDLA has to offer.
    </p>
  </div>
</div>

<div style="background:#fff; padding:10px; margin:10px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14); border-radius:2px;" class='about_us'>
  <h1 class='text-center'>CONTACT US</h1>
  <div style="border:1px solid #eee; margin: 10px 0px; padding:10px 10px; ">
    <p><b>Email - </b> xpressmangalore@gmail.com</p>
    <p><b>Phone 1 - </b> 9480906233</p>
    <p><b>Phone 2 - </b> 8904403233</p>
  </div>
</div>
