<%=render "home/page_header"%>
<div class='row-fluid'>
  <div class='col-md-8'>
    <div style="background:#fff;padding: 7px; margin: 10px auto; border: 1px solid #ddd;">
      <%=image_tag 'dream_properties.jpg',:style=>"width:100%; margin: 0px auto; border:2px solid #ddd;",:class=>"real-estate-img"%>
      <div style="text-align:left; color:#111; font-size: 14px; ">
        * Brokerage charges apply. Properties buyer @ 1% and seller @ 2%, Rented property both side half rent will be collected as brokerage fee.
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div style="background:#fff;padding: 15px; margin: 10px auto; border: 1px solid #ddd;">
      <h3 style="font-weight:normal; text-align:center;">Fill Your Requirement Below!</h3>
      <p style="text-align:center; margin:10px auto;">Give us your requirement we will suggest you the best!</p>
      <div style="margin:10px auto;">
        <%=render "real_estate_requirements/form",:real_estate_requirement=>RealEstateRequirement.new,:class=>"real-estate-img"%>
      </div>
    </div>
  </div>
</div>
