<div style="font-size:16px; padding:10px 0px 0px; color:#1d2129">
  <%=post.description%>
</div>

<%if post.photo.present?%>
  <%=image_tag post.photo.url(:large),"data-high-res-img"=>post.photo.url(:original),:class=>"post-img viewable-image",:style=>"cursor:pointer"%>
<%end%>

<div style="margin:15px 5px 10px; height:1px; background:#dedede;">
</div>

<div>
  <div style="float:right; display:inline;">
    <%=render "likes/like",:obj=>post%>
  </div>
  <div class="clearfix"></div>
</div>
