<%=render "home/page_header"%>
<div class="row-fluid wall">
  <div class="col-md-2 hidden-xs">
    
  </div>
  <div class="col-md-5">
    <%=render "posts/form"%>
  </div>
</div>

<div class="footer_pusher"></div>
