document.addEventListener("turbolinks:load", function() {
    "use strict";

    $(".header").affix({
      offset: {
        top: 100
      }
    });

    var isLoading = false;
    if ($('#infinite-scrolling').length > 0) {
      $(window).on('scroll', function() {
        var more_posts_url = $('.pagination a.next_page').attr('href');
        if (!isLoading && more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 500) {
          isLoading = true;
          var ldr = $(".ajax_loader_ic").attr('src');
          $('.pagination').html('<img src="'+ldr+'" alt="Loading..." title="Loading..." /> LOADING MORE...')
          $.getScript(more_posts_url).done(function (data,textStatus,jqxhr) {
            isLoading = false;
          }).fail(function() {
            isLoading = false;
          });
        }
      });
    }

    $("#real_estate_requirement_property_type").change(function(){
      var val = $(this).val();
      if (val == 'House For Rent'){
        $("#real_estate_requirement_property_detail").html("<option value='1 BHK'>1 BHK</option><option value='2 BHK'>2 BHK</option><option value='3 BHK'>3 BHK</option><option value='Singe Room'>Single Room</option>");
        $("#real_estate_requirement_budget").html('<option value="Rs.3,000-6,000">Rs.3,000-6,000</option><option value="Rs.6,000-10,000">Rs.6,000-10,000</option><option value="Rs.10,000-15,000">Rs.10,000-15,000</option><option value=">Rs.15,000">&gt;Rs.15,000</option>');
        $('#real_estate_requirement_property_detail').material_select();
        $("#real_estate_requirement_budget").material_select();
        $(".property_detail_cont").slideUp().slideDown();
      }else if(val == 'Shop For Rent'){
        $("#real_estate_requirement_property_detail").html("<option value='1000 Sq.ft'>1000 Sq.ft</option><option value='2000 Sq.ft'>2000 Sq.ft</option><option value='> 2000 Sq.ft'>> 2000 Sq.ft</option><option value='Godown'>Godown</option>");
        $("#real_estate_requirement_budget").html('<option value="Rs.3,000-6,000">Rs.3,000-6,000</option><option value="Rs.6,000-10,000">Rs.6,000-10,000</option><option value="Rs.10,000-15,000">Rs.10,000-15,000</option><option value=">Rs.15,000">&gt;Rs.15,000</option>');
        $('#real_estate_requirement_property_detail').material_select();
        $("#real_estate_requirement_budget").material_select();
        $(".property_detail_cont").slideUp().slideDown();
      }else if(val == 'Property For Sale'){
        $("#real_estate_requirement_property_detail").html("<option value='PLOT / SITE'>PLOT / SITE</option><option value='FLAT / APARTMENT / VILLA'>FLAT / APARTMENT / VILLA</option><option value='AGRI LAND'>AGRI LAND</option><option value='COMMERCIAL PROPERTY'>COMMERCIAL PROPERTY</option>");
        $("#real_estate_requirement_budget").html('<option value="Rs.1,00,000-5,00,000">Rs.1,00,000-5,00,000</option><option value="Rs.5,00,000-10,00,000">Rs.5,00,000-10,00,000</option><option value="Rs.10,00,000-20,00,000">Rs.10,00,000-20,00,000</option><option value=">Rs.20,00,000">&gt;Rs.20,00,000</option>');
        $('#real_estate_requirement_property_detail').material_select();
        $("#real_estate_requirement_budget").material_select();
        $(".property_detail_cont").slideUp().slideDown();
      }else{
        $(".property_detail_cont").slideUp();
        $("#real_estate_requirement_budget").slideUp();
      }
    });

    $(".language_filter input[type=checkbox]").change(function(){
      var lang = "All";
      if($("#kannada_lang").is(":checked")){
        lang = "Kannada";
      }else if($("#english_lang").is(":checked")){
        lang = "English";
      }
      window.location = "/cards?lang="+lang;
    });
    

    $(".classified_filter input[type=checkbox]").change(function(){
      var categories = [];
      $(".class_chck:checked").each(function() {
          categories.push(this.value);
      });
      var pa = document.location.protocol +"//"+ document.location.hostname + document.location.pathname;
      $.ajax({
        url : window.location.pathname,
        dataType : 'script',
        cache : false,
        type : 'GET',
        data : {
          "category" : categories,
          "filter" : true
        }
      });
    });

    $('.myckeditor').each(function() {
      CKEDITOR.replace($(this).attr('id'));
    });

    //LEFT MOBILE MENU OPEN
    $(".ts-menu-5").on('click', function() {
        $(".mob-right-nav").css('right', '0px');
    });

    //LEFT MOBILE MENU OPEN
    $(".mob-right-nav-close").on('click', function() {
        $(".mob-right-nav").css('right', '-270px');
    });

    //LEFT MOBILE MENU CLOSE
    $(".mob-close").on('click', function() {
        $(".mob-close").hide("fast");
        $(".menu").css('left', '-92px');
        $(".mob-menu").show("slow");
    });

    //mega menu
    $(".t-bb").hover(function() {
        $(".cat-menu").fadeIn(50);
    });
    $(".ts-menu").mouseleave(function() {
        $(".cat-menu").fadeOut(50);
    });

    //mega menu
    $(".sea-drop").on('click', function() {
        $(".sea-drop-1").fadeIn(100);
    });
    $(".sea-drop-1").mouseleave(function() {
        $(".sea-drop-1").fadeOut(50);
    });
    $(".dir-ho-t-sp").mouseleave(function() {
        $(".sea-drop-1").fadeOut(50);
    });

    //mega menu top menu
    $(".sea-drop-top").on('click', function() {
        $(".sea-drop-2").fadeIn(100);
    });
    $(".sea-drop-1").mouseleave(function() {
        $(".sea-drop-2").fadeOut(50);
    });
    $(".top-search").mouseleave(function() {
        $(".sea-drop-2").fadeOut(50);
    });

    //ADMIN LEFT MOBILE MENU OPEN
    $(".atab-menu").on('click', function() {
        $(".sb2-1").css("left", "0");
        $(".btn-close-menu").css("display", "inline-block");
    });

    //ADMIN LEFT MOBILE MENU CLOSE
    $(".btn-close-menu").on('click', function() {
        $(".sb2-1").css("left", "-350px");
        $(".btn-close-menu").css("display", "none");
    });

    //mega menu
    $(".t-bb").hover(function() {
        $(".cat-menu").fadeIn(50);
    });
    $(".ts-menu").mouseleave(function() {
        $(".cat-menu").fadeOut(50);
    });
    //review replay
    $(".edit-replay").on('click', function() {
        $(".hide-box").show();
    });
    Waves.displayEffect();
    //PRE LOADING
    $('#status').fadeOut();
    $('#preloader').delay(350).fadeOut('slow');
    $('body').delay(350).css({
        'overflow': 'visible'
    });

    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: 400, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
    });
    $('.dropdown-button2').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: ($('.dropdown-content').width() * 3) / 2.5 + 5, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });

    //Collapsible
    $('.collapsible').collapsible();

    //material select
    $('select').material_select();


    $(function() {
      $.ajax({
        type: 'GET',
        url: '/service_categories/autocomplete',
        success: function(response) {
          var countryArray = response;
          var dataCountry = {};
          var slugs = {};
          for (var i = 0; i < countryArray.length; i++) {
            dataCountry[countryArray[i].name] = countryArray[i].icon; //countryArray[i].flag or null
            slugs[countryArray[i].name] = countryArray[i].slug;
          }
          $('#select-search,#top-select-search').autocomplete({
            data: dataCountry,
            limit: 10, // The max amount of results that can be shown at once. Default: Infinity.
            onAutocomplete: function(val) {
                window.location.href = '/service_categories/'+slugs[val];
            }
          });
        }
      });
    });

    if ( window.location.hash ) {
      var hash = window.location.hash,
      $hash = $(hash);
      $('html, body').animate({ scrollTop: $('#'+hash.slice(1)).offset().top-70}, 2000)
    }

  var imageViewHtml = '<div class="iv-loader"></div> <div class="iv-snap-view">' + '<div class="iv-snap-image-wrap">' + '<div class="iv-snap-handle"></div>' + '</div>' + '<div class="iv-zoom-slider"><div class="iv-zoom-handle"></div></div></div>' + '<div class="iv-image-view" ><div class="iv-image-wrap" ></div></div>';
  $("body").append('<div id="iv-container">' + imageViewHtml + '<div class="iv-close" style="display:none;"></div> <div class="iv-sclose" onclick="history.back();"></div><div>');


  var viewer = ImageViewer();
  $(document).off('click','.viewable-image');
  $(document).on('click', '.viewable-image', function () {
    var imgSrc = this.src,
    highResolutionImage = $(this).data('high-res-img');
    viewer.show(imgSrc, highResolutionImage);
    history.replaceState(null, document.title, location);
    history.pushState(null, document.title, location);
  });

  if (window.history && window.history.pushState) {
    window.addEventListener("popstate", function(e) {
      if ($("#iv-container").is(":visible")) {
        $(".iv-close").trigger('click');
        e.stopPropagation();
      }
    }, false);
  }


  $('.file_with_thumb').on('change', function(event) {
    var files = event.target.files;
    var image = files[0];
    var reader = new FileReader();
    var trgt = $(this).attr("dest_img");


    reader.onload = function(file) {
      var img = new Image();
      img.src = file.target.result;
      if(trgt == 'post_target' || trgt == 'family_cover_pic_target'){
        img.setAttribute('width', '100%');
      }else if(trgt == 'album_target'){
        img.setAttribute('width', '100%');
        $(".post_album_btn").hide();
      }else{
        img.height = 150;
        img.width = 200;
      }
      $('.'+trgt).html(img);
    }
    reader.readAsDataURL(image);
    if($(this).attr('id') == 'post_photo'){
      $(".post_photo_remove").show();
      $("#post_remove_photo").val(null);
    }

  });
});

function scrollNav() {
    $('.v3-list-ql-inn a').click(function() {
        //Toggle Class
        $(".active-list").removeClass("active-list");
        $(this).closest('li').addClass("active-list");
        var theClass = $(this).attr("class");
        $('.' + theClass).parent('li').addClass('active-list');
        //Animate
        $('html, body').stop().animate({
            scrollTop: $($(this).attr('href')).offset().top - 130
        }, 400);
        return false;
    });
    $('.scrollTop a').scrollTop();
}
scrollNav();

$(document).on('turbolinks:click', function (event) {
  if (event.target.getAttribute('href').charAt(0) === '#') {
    event.preventDefault();
    var hash = event.target.getAttribute('href');
    $('html, body').animate({ scrollTop: $('#'+hash.slice(1)).offset().top-70}, 2000)
    return true;
  }
})
